*.swo
*.swp
.DS_Store
*.log
.config/configstore
.config/git
.config/nvim
.config/nvim-gtk

# Emacs whitelist some specific files
!.emacs.d
.emacs.d/*
# The following are the whitelisted files
!.emacs.d/custom.el
!.emacs.d/init.org
!.emacs.d/init.el
!.emacs.d/vendor
!.emacs.d/goal.org
